.banner2 {
  margin: 14px auto 26px auto;
}
/* 售后区域样式 开始 */
.banner2 .banner2-service {
  width: 234px;
  height: 170px;
  outline: 1px solid;
  margin-right: 14px;
  background: #5f5750;
  color: #ccc;
  padding: 3px;
  font-size: 12px;
}
.banner2 .banner2-service a {
  position: relative;
  width: 76px;
  height: 82px;
  text-align: center;
  padding-top: 10px;
}
.banner2 .banner2-service a:hover {
  color: #fff;
}
.banner2 .banner2-service .iconfont {
  display: block;
  font-size: 26px;
}

.banner2 .banner2-service a::before {
  /* 加竖线 */
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 1px;
  height: 70px;
  background: #665e57;
}
.banner2 .banner2-service a:nth-child(3n + 1)::before {
  content: none;
}
.banner2 .banner2-service a::after {
  /* 加横线 */
  content: "";
  position: absolute;
  left: 6px;
  bottom: 0;
  width: 64px;
  height: 1px;
  background: #665e57;
}
.banner2 .banner2-service a:nth-child(n + 4)::after {
  content: none;
}

/* 售后区域样式结束 */
.banner2 .banner2-item {
  width: 316px;
  height: 170px;
  margin-right: 15px;
}
.banner2 .banner2-item:last-child {
  margin-right: 0;
}
.banner2 .banner2-item img {
  width: 100%;
  height: 100%;
}
