.topnav {
  background: #333;
  color: #b0b0b0;
  font-size: 12px;
  height: 40px;
}
.topnav .topnav-menu {
  line-height: 40px;
}
.topnav .topnav-menu a:hover {
  color: #fff;
}
.topnav .topnav-menu a {
  padding: 0 7px;
  border-right: 1px solid #424242;
}
/* 最后一个li里面的a元素不带右边框 */
.topnav .topnav-menu li:last-child a {
  border-right: none;
}
/* 第一个li里面的a元素不带左边的内边距 */
.topnav .topnav-menu li:first-child a {
  padding-left: 0;
}

/* 购物车样式 */
/* 外层样式 */
.topnav-car {
  background: #424242;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  position: relative;
}
.topnav-car .topnav-link {
  /* background: red; */
  width: 100%;
  height: 100%;
  display: block;
  line-height: 40px;
  text-align: center;
  padding-left: 3px;
}

/* 购物车弹出样式 */
.topnav-car .topnav-detail {
  background: #fff;
  width: 320px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 40px;
  border: 1px solid #ccc;
  border-top: none;
  line-height: 100px;
  text-align: center;
  /* 隐藏整个元素 */
  display: none;
  /* 设置堆叠顺序 */
  z-index: 55;
}

/* 鼠标移动到购物车区域时的样式 */
.topnav-car:hover .topnav-detail {
  /* 显示元素 */
  display: block;
}
.topnav-car:hover .topnav-link {
  background: #fff;
  color: #ff6700;
}
